:root {
  --bg: #e5e5e5;
  --primary: #07ab80;
  --secondary: #f8f8f8;
  --white: #ffffff;
  --ph-bg: #5b636e;
  --ph-img: url("http://thiscatdoesnotexist.com");
}

.navbar-color {
  background-color: var(--primary);
}

.hero-sec {
  height: 50vh;
  background-image: url("https://images.unsplash.com/photo-1638497812440-a012db923800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-position: 50% 60%;
  background-size: cover;
}

.section1 {
  height: 30vh;
  background-color: var(--primary);
}
.progress {
  height: 200px;
  width: 400px;
  background-color: var(--white);
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

.section2 {
  height: 55vh;
  background-color: var(--white);
}
.section3 {
  height: 20vh;
  background-color: var(--secondary);
}
.section4 {
  height: 20vh;
  background-color: var(--primary);
}

.form-box {
  background-color: rgba(255, 255, 255);
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

.doge {
  height: 300px;
  width: 200px;
}
