:root {
  --bg: #e5e5e5;
  --primary: #07ab80;
  --secondary: #f8f8f8;
  --white: #ffffff;
  --ph-bg: #5b636e;
  --ph-img: url("http://thiscatdoesnotexist.com");
}

.navbar-color {
  background-color: var(--primary);
}

.hero-sec {
  height: 50vh;
  background-color: var(--ph-bg);
  background-image: url("https://images.unsplash.com/photo-1543055131-ac87bf2f6ac1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: 50% 35%;
  background-size: inherit;
}

.section1 {
  min-height: 30vh;
  background-color: var(--primary);
}

.progress {
  height: 200px;
  width: 400px;
  background-color: var(--white);
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

.section2 {
  min-height: 55vh;
  background-color: var(--secondary);
}

.section3 {
  min-height: 20vh;
  background-color: var(--white);
}

.section4 {
  min-height: 20vh;
  background-color: var(--primary);
}

.form-box {
  background-color: rgba(255, 255, 255);
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

.card {
  background-color: rgba(255, 255, 255);
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

.doge {
  height: 350px;
  width: 250px;
}